%div.depot_form
  - if flash[:alert]
    %p#notice= flash[:alert]

= form_tag do
  %fieldset
    %legend
      Please Log In or
      = link_to "Register", new_user_path

    %div
      %label{:for=>"email"} Email:
      = text_field_tag :email, params[:email]

    %div
      %label{:for=>"password"} Password:
      = password_field_tag :password, params[:password]

    = submit_tag "Login"
