%td= link_to @story.title, story_path(@story)
%td= @story.created_at_str
%td= @story.username
%td{align: "center"}
  - @story.state_events.each do |event|
    %span.capital.btn{"data-ajax" => "#{story_path(@story)}/change_state/#{event.to_s}"}= event.to_s